!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
head(prefix='og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title MAMA - Login
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
    //
          <Opengraph>tags</Opengraph>
    meta(property='fb:app_id', content='293989217296609')
    meta(property='og:title', content='MAMA - Login')
    meta(property='og:description', content='A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js. The also illustrates how to properly organize your application')
    meta(property='og:url', content='http://nodejs-express-demo.herokuapp.com')
    meta(property='og:image', content='http://blog.getbootstrap.com/wp-content/themes/bootstrap-blog/img/bootstrap-blog-logo.png')
    meta(property='og:site_name', content='MAMA')
    meta(property='fb:admins', content='1037213945')
    //
          <Application>styles</Application>
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/jquery.tagsinput.css')
    //
          <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    link(rel='stylesheet', href='/css/app.css')
    //
      <link rel="stylesheet" href="/assets/css/application.css">
    //
          <Le>HTML5 shim, for IE6-8 support of HTML5 elements</Le>
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    .wrapper
      .navbar.navbar-fixed-top(role='navigation')
        .navbar-inner
          .container
            a.brand(href='/') MAMA
        .container
          .main-content
            .offset1
              p
                br
                | Hello :#{userEmail}
            .push
          script(src='/js/jquery.min.js')
          script(src='/js/bootstrap.min.js')
          script(src='/js/bootbox.js')
          script(src='/js/jquery.tagsinput.min.js')
          script(src='/js/app.js')
          script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25468002-1']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
